* {
    font-family: Arial, sans-serif;
}
h1 {
    text-align: center;
}

img {
    height: auto;
    width: 350px;
    display: inline-block;
    margin-right: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 350px;
  }
li a {
    background-color: rgb(167, 148, 148);
    padding: 4px;
}
  ul li {
    margin: 10px;
    vertical-align: top;
  }
  ul {
    display: inline-block;
    vertical-align: top;
  }